.site-footer{
  background-color: $dark;
  color: $footer-text;
  height: 90px;
  &__text{
    padding: 0;
    margin: 0;
    line-height: 90px;
    text-align: center;
    &--pink{
      font-weight: bold;
      color: $pink;
    }
    .footer-brand{
      font-size: 1.5rem;
      font-family: $logo-font;
      display: block;
      &:hover{
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

@include respond-to(mobile){
  .site-footer{
    height: auto;
    padding: 20px 0;
    &__text{
      line-height: 2.3rem;
    }
  }
};
