$orange: #ff6033;
$cyan: #00bbbb;
$light-blue: #70bfff;
$yellow: #ffe92f;
$btn-blue: #5585a2;
$btn-green: #96b92c;
$btn-red: #f72b3b;
$purple: #b07cf7;
$gray: #9d9d9d;
$dark: #262626;
$footer-text: #b9b9b9;
$pink: #ff2b58;
$form-focus: #355b82;

// font-weight
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
// font-family
$raleway: Raleway, sans-serif;


// font-size & font-family
$logo-font: 'Pacifico', cursive;

$logo-font-size: 3rem;
// $nav-font: $raleway;
$nav-font-size: 1rem;

$heading-font-size: 5.6rem;
// $heading-font: $raleway;
